.container {
    display: flex;
    flex-direction: column;
    min-width: 385px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    background-color: black;
    color: white;
    padding: 0px 100px;
    height: 120px;
}
.header-mobile{
    display: none;
}

.header-mobile {
    display: none;
}

.header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
    width: 600px;
    font-size: 20px;
    align-self: flex-end;
}

.header li {
    font-weight: 200;
    font-size: 20px;
}

.header h3 {
    font-weight: bold;
    font-size: 30px;
    align-self: flex-end;
}
.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.banner {
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 600px;
    justify-items: left;
    padding: 0px 100px;
    
}

.banner__img {
    background-color: gray;
    width: 80%;
    
}

.banner__img img{
    height: 100%;
    width: 100%;
    mix-blend-mode: darken;
    
}

.banner__content h2 {
    color: green;
}

.banner__content p{
    line-height: 40px;
}

.banner__list-boxs {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.banner__list-boxs{
    width: 100%;
}

.banner__list-boxs-item {
    border: 1px gray solid;
    width: 200px;
    height: 200px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.banner__list-boxs-item h2 {
    color: green;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}

.banner__list-boxs-item p {
    color: black;
    text-align: center;
    font-size: 16px;
    color: gray;
}

.banner-content p {
    line-height: 25px;
}

.banner-content h3 {
    color: green;
}
.content {
    background-color: whitesmoke;
}
.list-img .list-img-item img {
    width: 367px;
    height: 352px;
}

.list-img {
    display: flex;
    justify-content: space-around;
}

.list-img h4 {
    color: gray;
    font-size: 13px;
}

.list-img-item h4,
.list-img-item h3 {
    text-align: left;
}

.content {
    text-align: center;
    padding: 80px 20px;
    margin-top: 5px;
}

.content-info {
    margin-bottom: 50px;
}

.content-info h3 {
    color: green;
}

.footer-content iframe {
    height: 697px;
}

/*shadow*/
.shadow {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0px 15px 10px -15px #111;
}

.dot-slide {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

@media screen and (max-width:700px){
    .header{
        display: none;
    }
    .header-mobile{
        display: block;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 0px 30px;
        height: 100px;
        align-items: center;
    }
    .banner {
        display: grid;
        grid-template-columns: 500px auto;
        grid-template-rows: 600px;
        justify-items: left;
        padding: 0px 10px;
    }
}

@media screen and (max-width:1510px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner__img {
        width: 100%;
        height: 100%;
    }

    .banner__content {
        padding: 0px;
    }

    .banner__list-boxs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    .banner__list-boxs-item{
        border: 1px gray solid;
        width: 300px;
        height: 300px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .banner__list-boxs-item h2 {
        color: green;
        text-align: center;
    }

    .banner__list-boxs-item p {
        color: black;
        text-align: center;
    }

    .list-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .list-img-item h3,
    .list-img-item h4 {
        text-align: center;
    }

    .list-img-item img {
        width: 367px;
        height: 352px;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
}

